body {
      font-family: 'Quicksand', sans-serif;
      background-color: #F0E6EF;
}

#header {
      background-color: #B8BEDD;
      color: #5C4979;
      /*height: 700px;*/
      width: auto;
      background-size: cover;
}

h1 {
      font-size: 5em;
      text-align: center;
      line-height: 0px;
      text-shadow: 5px 5px 5px white;
      padding: 100px;
      margin: 0;
}

#like-button {
    margin-top: 10px; /* Adjust margin as needed */
      font-family: 'Quicksand', sans-serif;
      background-color: #5C4979;
      color: white;
      border-color: #5C4979;
      font-size: 1em;
      display: block;
}

#nav {
      width: 950px;
      margin-left: auto;
      margin-right: auto;
      font-size:0;
      text-align: center;
}

#nav a {
      text-decoration: none;
      background-color: #5C4979;
      color: white;
      width: 230px;
      height: 50px;
      line-height: 50px;
      display: inline-block;
      font-size:21px;
      text-align: center;
}

#nav a:hover, #nav a.active:hover {
      background-color: #EFC3E6;
      color: white;
      border-radius: 5px;
      border-color: #F0A6CA;
}

#nav a.active {
      background-color: white;
      color: #5C4979;
      text-align: center;
}

#about {
      width: 1270px;
      margin: 0 auto;
}

#about-content {
      background-color: #F0A6CA;
      color: white;
      border-style: solid;
      border-width: 6px;
      border-radius: 10px;
      border-color: #EFC3E6;
      padding: 20px;
      margin: 60px auto;
      font-weight: bold;
    font-size: 1.3em;
}
#about-content h2 {
    display: inline-block;
}
#about-content img {
    display: inline-block;
    width: 57px;
    height: auto;
    margin-bottom: -17px;
    padding-left: 15px;
}

#sweet-tod {
      width: 1270px;
        margin-top: 350px;
      margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

#sweet-tod-content {
      background-color: #F0A6CA;
      color: white;
      border-style: solid;
      border-width: 6px;
      border-radius: 10px;
      border-color: #EFC3E6;
      padding: 20px;
      margin: 60px auto;
      font-weight: bold;
    font-size: 1.3em;
}

#sweet-tod-content h2{
    display: inline-block;
}

#sweet-tod-content img{
    display: inline-block;
    width: 70px;
}

#name {
      margin: 10px;
      font-weight: bold;
      font-size: 1.5em;
}

#ingredients, #recipe {
      background-color: #EFC3E6;
      color: white;
      /*height: 100px;*/
      padding: 20px;
      margin-top: 30px;
}

#footer {
    background-color: white;
    color: #5C4979;
    margin: 0;
    height: 150px;
    position: relative;
}
#footer p {
      margin-bottom: 0;
      margin-top: 25px;
      margin-left: 10px;
      padding: 10px;
}

#hacks-pic{
      width: 200px;
      height: auto;
      margin: 0;
      float: right;
      padding-top: 0;
      position: absolute;
      top: 10px;
      right: 10px;
}
#seal{
      width: auto;
      height: 90px;
}
#floating-seal{
      position:absolute;
      right: 220px;
      top: 60%; /* Added top: 50%; to vertically center the seal */
      transform: translateY(-50%);
      animation: frame 10s infinite;
      animation-timing-function: linear;
}

#description{
      background-color: #F0A6CA;
      color: white;
      height: 200px;
      width: 1270px;
      margin: 0 auto;
}

#form-content {
      background-color: #F0A6CA;
      color: white;
      border-style: solid;
      border-width: 6px;
      border-radius: 10px;
      border-color: #EFC3E6;
      padding: 30px;
      margin: 60px auto 140px;
      font-weight: bold;
}

@keyframes frame {
			0% {left: 0px;}
			100% { left: calc(80% - 150px); }
}

.section {
    position: relative;

    justify-content: center;
    align-items: center;
    /*overflow: hidden;*/
    width: 1270px;
}
.section img{
    position: absolute;

    min-width: 500px;
    min-height: auto;
    top: -50px;
    left: 30%;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 7s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 7s;
}

.last {
     -webkit-animation-delay: -3s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

.image-container {
    margin-top: -50px;
    margin-bottom: 59px;
    height: 160px;
  /*position: relative;*/

  img {
      /*left: 43%;*/
      /*top: -25%;*/
      margin-left: 7%;

      width: 200px;
      display: inline-block;
    /*position: absolute;*/
    animation-name: multiple-image-crossfade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    &:nth-of-type(1) {
      animation-delay: 0s;
    }
    &:nth-of-type(2) {
      animation-delay: 2s;
    }
    &:nth-of-type(3) {
      animation-delay: 4s;
    }
    &:nth-of-type(4) {
      animation-delay: 6s;
    }
  }
}

@keyframes multiple-image-crossfade {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}