body {
      font-family: 'Quicksand', sans-serif;
      background-color: #F0E6EF;
}

#header {
      background-color: #B8BEDD;
      color: #5C4979;
      /*height: 700px;*/
      width: auto;
      background-size: cover;
}

h1 {
      font-size: 5em;
      text-align: center;
      line-height: 0px;
      text-shadow: 5px 5px 5px white;
      padding: 100px;
      margin: 0;
}


#nav {
      width: 950px;
      margin-left: auto;
      margin-right: auto;
      font-size:0;
      text-align: center;
}

#nav a {
      text-decoration: none;
      background-color: #5C4979;
      color: white;
      width: 230px;
      height: 50px;
      line-height: 50px;
      display: inline-block;
      font-size:21px;
      text-align: center;
}

#nav a:hover, #nav a.active:hover {
      background-color: #EFC3E6;
      color: white;
      border-radius: 5px;
      border-color: #F0A6CA;
}

#nav a.active {
      background-color: white;
      color: #5C4979;
      text-align: center;
}

#search-div {
      width: 1270px;
      margin: 0 auto;
}

#search-content {
      background-color: #F0A6CA;
      color: white;
      border-style: solid;
      border-width: 6px;
      border-radius: 10px;
      border-color: #EFC3E6;
      padding: 20px;
      margin: 60px auto ;
      font-weight: bold;
      font-size: 1.3em;
      overflow: hidden;
}
#search-content #icon {
      display: inline-block;
      width: 55px;
      margin-bottom: -25px;
}
#search-content label{
      display: inline-block;
}
#search-content button {
      margin-top: 10px; /* Adjust margin as needed */
      font-family: 'Quicksand', sans-serif;
      background-color: #5C4979;
      color: white;
      border-color: #5C4979;
      font-size: 1em;
      display: block;
}

#resultsImg {
      width: 100px;
      height: auto;
      display: block;
  margin-left: -100px; /* Initial position off the screen */
  animation: moveImage 5s linear infinite;
}

#search-content img {
      display: block;
    padding: 10px;
    margin: auto;
}

#search-content input[type="text"] {
      margin-bottom: 10px;
      margin-top: 10px;
      width: 100%;
      height: 50px;
      font-family: 'Quicksand', sans-serif;
}

#search {
      font-size: 1.1em; /* Adjust the font size as needed */
}

#search-content button:hover {
      background-color: white;
      color: #5C4979;
      border-radius: 5px;
      border-color: white;
}

#sweet-tod {
      width: 1270px;
      margin: 0 auto;
      display: none;
}

#sweet-tod-content {
      background-color: #F0A6CA;
      color: white;
      border-style: solid;
      border-width: 6px;
      border-radius: 10px;
      border-color: #EFC3E6;
      padding: 20px;
      margin: 60px auto;
      font-weight: bold;
    font-size: 1.3em;
}

#name {
      margin: 10px;
      font-weight: bold;
      font-size: 1.5em;
}

#ingredients, #recipe {
      background-color: #EFC3E6;
      color: white;
      height: 100px;
      padding: 20px;
      margin-top: 30px;
}


#footer {
    background-color: white;
    color: #5C4979;
      margin: 0;
      height: 150px;
      position: relative;
}
#footer p {
      margin-bottom: 0;
      margin-top: 25px;
      margin-left: 10px;
      padding: 10px;
}

#hacks-pic{
      width: 200px;
      height: auto;
      margin: 0;
      float: right;
      padding-top: 0;
      position: absolute;
      top: 10px;
      right: 10px;
}
#seal{
      width: auto;
      height: 90px;
}
#floating-seal{
      position:absolute;
      right: 220px;
      top: 60%; /* Added top: 50%; to vertically center the seal */
      transform: translateY(-50%);
      animation: frame 10s infinite;
      animation-timing-function: linear;
}

@keyframes frame {
			0% {left: 0px;}
			100% { left: calc(80% - 150px); }
}

@keyframes moveImage {
			0% {
    margin-left: -100px;
  }
  100% {
        margin-left: calc(100% + 100px);
  }
}

#image-container {
    margin-top: -50px;
    margin-bottom: 59px;
    height: 160px;
    display: none;
  /*position: relative;*/

  img {
      /*left: 43%;*/
      /*top: -25%;*/
      margin-left: 7%;

      width: 200px;
      display: inline-block;
    /*position: absolute;*/
    animation-name: multiple-image-crossfade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    &:nth-of-type(1) {
      animation-delay: 0s;
    }
    &:nth-of-type(2) {
      animation-delay: 2s;
    }
      &:nth-of-type(3) {
      animation-delay: 4s;
    }
      &:nth-of-type(4) {
      animation-delay: 6s;
    }
  }
}

@keyframes multiple-image-crossfade {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

